
 

  .mycard {
        width: 500px;
        height: 50vh;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        
      }
      .mission{
        position: relative;
        height:65vh;
      }
      .artisticjourney{
        background: #4A148C;
    
      }
      
      .mycard:hover {
        transform: rotateY(180deg);
      }
      
      .card-front, .card-back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 100px;
        width: 500px;
        height: 50vh;
      }
      .card-back{
        background-color: #4A148C;
        padding: 20px;
      }
      
      .card-back {
        transform: rotateY(180deg);
      }
      
    .card-front img {
        width: 500px;
        height: 50vh;
        object-fit: cover;
      }
      .card-title{
        color:rgb(233, 192, 13);
      }
  
  
