#sideactive{
    background-color: white !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    color:#4A148C !important;
}
.nav-link  {
    color:white !important;
}